.floor-1 {
.switch-key {
      display: inline-block;
      
      padding: 20px;
      background-color: #96bdd7;
      color: white;
      border: none;
      border-radius: 5px;
      transition: transform 0.3s;
      }
                    
      .switch-key.enlarged {
            transform: scale(1.5);
                  }


.flex_test-box {
    display : flex;              /* フレックスボックスにする */
    align-items:stretch;        /* 縦の位置指定 */
    justify-content:center;     /*横の揃えを変更*/
    padding:  0px;             /* 余白指定 */
    background:#add8e6;           /* 背景色指定 */
    flex-direction:row;         /* 要素の並び順 */
    flex-wrap: wrap;            /* 折り返し指定 */
    }
.flex_test-item {
      /* width:300px;
      height:300px; */
      color:black;             /* 文字色 */
      font-size: 15px;            /* 文字サイズ指定 */
      margin:7px;               /* 外側の余白 */
      padding:10px;
      border-radius: 5px;         /* 角丸指定 */
      width: 12%;                 /* 幅指定 */
      align-self: stretch;        /*縦の揃えを子要素ごとに変更*/
      /* text-align:center; */
      }
img {
        width: 60%;                /* 画像サイズ指定 */
    }
  
.flex_test-item:nth-child(1){

      background:yellow;
      order: 1;             
      } 
.flex_test-item:nth-child(2){
      
      background: yellow;
      order: 2;
      }
.flex_test-item:nth-child(3){
       
      background: plum;
      order: 13;
        }
.flex_test-item:nth-child(4){
      
      background: plum;
      order: 14;
          }    
.flex_test-item:nth-child(5){
           
      background:yellow;
      order: 3;                 
          
            } 
.flex_test-item:nth-child(6){
            
      background: blue;
      order: 6;                   /* 順番指定 */
            }
.flex_test-item:nth-child(7){
            
      background: yellow;
      order: 4;                   /* 順番指定 */
              }
.flex_test-item:nth-child(8){
               
      background: yellow;
      order: 5;                   /* 順番指定 */
                }    
.flex_test-item:nth-child(9){
                 
      background:plum;
      order:15;                   /* 順番指定 */
                 
                  } 
.flex_test-item:nth-child(10){
                 
      background: plum;
      order: 16;                   /* 順番指定 */
                  }
.flex_test-item:nth-child(11){
                 
      background: blue;
      order: 7;                   /* 順番指定 */
                    }
.flex_test-item:nth-child(12){
                   
      background: blue;
      order: 8;                   /* 順番指定 */
                      }    
.flex_test-item:nth-child(13){
                       
      background:blue;
      order: 9;                   /* 順番指定 */
                        /* margin:20px;  */
                        } 
.flex_test-item:nth-child(14){
                        
      background: blue;
      order: 10;                   /* 順番指定 */
                        }
.flex_test-item:nth-child(15){
                        
      background: plum;
      order: 17;                   /* 順番指定 */
                          }
.flex_test-item:nth-child(16){
                        
      background: blue;
      order: 11;                   /* 順番指定 */
                            }                          
.flex_test-item:nth-child(17){
                         
      background: blue;
      order: 12;                   /* 順番指定 */
                              }                                               
}

.floor-2 {
.switch-key {
      display: inline-block;
      
      padding: 20px;
      background-color: #96bdd7;
      color: white;
      border: none;
      border-radius: 5px;
      transition: transform 0.3s;
                  }
                    
.switch-key.enlarged {
      transform: scale(1.5);
                  }
 .flex_test-box2 {
            display : flex;              /* フレックスボックスにする */
            align-items:stretch;        /* 縦の位置指定 */
            justify-content:center;     /*横の揃えを変更*/
            padding:  10px;             /* 余白指定 */
            background:lightgreen;           /* 背景色指定 */
            flex-direction:row;         /* 要素の並び順 */
            flex-wrap: wrap;            /* 折り返し指定 */
            }
 .flex_test-item2 {
              /* width:300px;
              height:300px; */
              color:black;             /* 文字色 */
              font-size: 15px;            /* 文字サイズ指定 */
              margin:10px;               /* 外側の余白 */
              padding:15px;
              border-radius: 5px;         /* 角丸指定 */
              width: 10%;                 /* 幅指定 */
              align-self: stretch;        /*縦の揃えを子要素ごとに変更*/
              /* text-align:center; */
              }
        img {
                width: 80%;                /* 画像サイズ指定 */
            }        
        .flex_test-item2:nth-child(1){
              
              background:rgb(214, 231, 231);
              order: 1;                   
            } 
        .flex_test-item2:nth-child(2){
            
              background: rgb(214, 231, 231);
              order: 2;                   
            }
        .flex_test-item2:nth-child(3){
                
              background: rgb(61, 126, 61);
              order: 3;                  
            }
        .flex_test-item2:nth-child(4){
                  
              background: orange;
              order: 5;                   
            }    
       .flex_test-item2:nth-child(5){
                       
              background: orange;
              order: 6;                  
            }
       .flex_test-item2:nth-child(6){
                        
              background: rgb(61, 126, 61);
              order: 4;                   
            }       
       .flex_test-item2:nth-child(7){
                        
              background: orange;
              order: 7;                   
            }       
}

